*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

.thymeleaf2{
    background-color: darkgoldenrod;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.8);
}
.thymeleaf1{
    background-color: darkgoldenrod;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.8);
}

.tr{
    color:white;
    background-color:MediumSeaGreen;
}
.tr:hover{
    color:blue;
    background-color:MediumSeaGreen;
}
.table{
    width:100% ;
}