<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Templates</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jcdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">

<!--start codes-->

<h1 class="index">index Sayfamız</h1>

<!--ends codes-->
<script src="https://cdn.jcdelivr.net/npm/@poperjs/core@2.9.2/dist/umd/poper.min.js"></script>
<script src="https://cdn.jcdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>