<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Templates</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jcdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

</head>
<body class="container bg-dark text-white">
<!--start codes-->
<p th:text="${key_model1}"></p>
<p th:text="${key_model2}"></p>

<!--ends codes-->
<script src="https://cdn.jcdelivr.net/npm/@poperjs/core@2.9.2/dist/umd/poper.min.js"></script>
<script src="https://cdn.jcdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>